html, body{
    height: 100%;
    width: 100%;
}
header{
    background-color: #0077cc;
    width: 100%;
}
h1{
    color: white;
    font-weight: bold;
}
.mainContainer{
    height: 100%;
    width: 100%;
    place-items: center;
}
.loginFormContainer{
    background-color: #cce2f0;
    width: 350px;
    border-radius: 20px;
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
}
.item2 {
    padding: 20px;
}
.item1 {
    padding: 20px;
    text-align: center;
}
.item3 {
    padding: 20px;
    text-align: center;
}