html, body{
    height: 100%;
    width: 100%;
}
header{
    background-color: #0077cc;
    width: 100%;
    padding: 35px;
}
body{
    background: linear-gradient(#d9e1ff, #f5f5f8);
 }
h1{
    color: white;
    font-weight: bold;
}
.mainContainer{
    height: 100%;
    width: 100%;
    place-items: center;
}
.loginFormContainer{
    background-color: #cae0ee;
    width: 350px;
    border-radius: 20px;
    display: flex;
    height: 500px;
    flex-direction: column;
    margin-top: 70px;
}
.item2 {
    height: 180px;
    padding: 20px;
    
}
.item1 {

    text-align: center;
}
.item3 {
    padding-top: 40px;
    text-align: center;
}