html, body{
    height: 100%;
    width: 100%;
}

body{
   background-color: #e9edf0; /*Define el color en todas las vistas*/
 }
h1{
    color: white;
    font-weight: bold;
    flex-grow: 1;
}
.mainContainer{
    height: 100%;
    width: 100%;
    place-items: center;
}
.loginFormContainer{
    background-color: #cae0ee;
    width: 350px;
    border-radius: 20px;
    display: flex;
    height: 500px;
    flex-direction: column;
    margin-top: 70px;
    
}
.item2 {
    height: 180px;
    padding: 20px;
    
}
.item3 {
    padding-top: 40px;
    text-align: center;
}
