.header1-stock{
    padding: 15px;
    padding-bottom: 10px;
    color: rgb(2, 0, 71);
}

.table-stock-container  td {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.table-stock-container h2{
    padding: 15px;
    padding-bottom: 10px;
    color: rgb(2, 0, 71);
}
.table-stock-container table {
    width: 90%;
    border-collapse: collapse;
}

.table-stock-container th,
.table-stock-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table-stock-container th {
    background-color: #f2f2f2;
}

.table-stock-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-stock-container tbody tr:hover {
    background-color: #dde2f5;
}
.buttons-stock {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.buttons-stock button {
    border: 0px;
    background-color: #dddddd00;
    cursor: pointer;
    padding: 5px 10px;
}

.buttons-stock img {
    width: 45px;   
}