#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.inputContainer{
  display: flex;
  width: 200;
  height: 50;
  flex-direction: colum;
  justify-content: space-evenly;
}